<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.inventory.tracker.dao.TrackerDao">
    <resultMap id="BaseResultMap" type="Tracker">
        <id column="id" property="id"/>
        <result column="sysid" property="sysid"/>
        <result column="templateid" property="templateid"/>
        <result column="eventno" property="eventno"/>
        <result column="sku" property="sku"/>
        <result column="amount" property="amount"/>
        <result column="endtime" property="endtime"/>
        <result column="current_step" property="currentStep"/>
        <result column="end_status" property="endStatus"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        sysid,
        templateid,
        eventno,
        sku,
        amount,
        endtime,
        current_step,
        end_status
    </sql>

    <select id="gets" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tracker
        <where>
            <if test="po.sysid !=null">
                and sysid = #{po.sysid}
            </if>
            <if test="po.sku !=null and po.sku !=''">
                and sku = #{po.sku}
            </if>
            <if test="po.eventno !=null and po.eventno !=''">
                and eventno=#{po.eventno}
            </if>
            <if test="po.startTime !=null">
                and endtime>=#{po.startTime}
            </if>
            <if test="po.endTime !=null">
                <![CDATA[ and endtime<=#{po.endTime}]]>
            </if>
            <if test="po.diff!=null and po.diff==true">
                and end_status=1
            </if>
            <if test="po.eventnoList !=null and po.eventnoList.size>0">
                and eventno in
                <foreach collection="po.eventnoList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="com.jd.inventory.tracker.domain.Tracker">
        select
        <include refid="Base_Column_List"/>
        from tracker
        <where>
            <if test="sysid !=null">
                and sysid = #{sysid}
            </if>
            <if test="templateid !=null">
                and templateid = #{templateid}
            </if>
            <if test="eventno !=null">
                and eventno = #{eventno}
            </if>
            <if test="sku !=null and sku !=''">
                and sku = #{sku}
            </if>
            <!--<if test="amount !=null and amount !=''">-->
                <!--and amount = #{amount}-->
            <!--</if>-->
            <if test="currentStep !=null and currentStep !=''">
                and current_step = #{currentStep}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.jd.inventory.tracker.domain.Tracker"
            useGeneratedKeys="true" keyProperty="id">
        insert into tracker
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="null != templateid">
                templateid,
            </if>
            <if test="null != eventno">
                eventno,
            </if>
            <if test="null != sku">
                sku,
            </if>
            <if test="null != amount">
                amount,
            </if>
            <if test="null != endtime">
                endtime,
            </if>
            <if test="null != currentStep">
                current_step,
            </if>
            <if test="null != endStatus">
                end_status,
            </if>
            sysid
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="null != templateid">
                #{templateid,jdbcType=BIGINT},
            </if>
            <if test="null != eventno">
                #{eventno,jdbcType=VARCHAR},
            </if>
            <if test="null != sku">
                #{sku,jdbcType=VARCHAR},
            </if>
            <if test="null != amount">
                #{amount,jdbcType=VARCHAR},
            </if>
            <if test="null != endtime">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="null != currentStep">
                #{currentStep,jdbcType=INTEGER},
            </if>
            <if test="null != endStatus">
                #{endStatus,jdbcType=INTEGER},
            </if>
            #{sysid,jdbcType=BIGINT}
        </trim>
    </insert>


    <update id="update" parameterType="com.jd.inventory.tracker.domain.Tracker">
        update tracker
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="endtime != null">
                    endtime = #{endtime},
                </if>
                <if test="currentStep != null and currentStep != ''">
                    current_step = #{currentStep},
                </if>
                <if test="endStatus != null and endStatus != ''">
                    end_status = #{endStatus},
                </if>
            </trim>
        </set>
        <where>
            <if test="id !=null">
                and id = #{id}
            </if>
        </where>
    </update>
</mapper>
